{% ckan_extends %}
   
  {% block add_button %}
      {% block previous_button %}
      <button class="btn" name="save" value="go-dataset" type="submit">{{ _('Save & Go to Metadata') }}</button>
      {% endblock %}
      {% block again_button %}
          <button class="btn" name="save" value="again" type="submit">
          {% block save_button_text %}{{ _('Save & Add Another') }}{% endblock %}</button>
      {% endblock %}
      {% block  save_button %}
          <button class="btn" name="save" value="go-dataset-complete" type="submit">{{ _('Save') }}</button>
          {% block cancel_button %}
            <a class="btn" href="{% url_for controller='package', action='read', id=pkg_name %}">{% block cancel_button_text %}{{ _('Cancel') }}{% endblock %}</a>
            {% endblock %}
      {% endblock %}
  {% endblock %}
  

      
   

