{% ckan_extends %}

{% block metadata_fields %}
  {% if form_style == 'edit' %}{{ super() }}{% endif %}
{% endblock %}

{% block disclaimer %}
  {% if form_style != 'edit' %}{{ super() }}{% endif %}
{% endblock %}

{% block save_metadata_only_button %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block delete_button %}
  {% if (form_style == 'edit' or c.pkg_dict.state == 'draft') and h.check_access('package_delete', {'id': c.pkg_dict.id}) %}
    {{ super() }}
  {% endif %}
{% endblock %}