{% ckan_extends %}

{%- if c.action_multi -%}
  {%- set mark_notice = "Mark to " + c.action_multi|lower -%}
{%- endif -%}
{% set allow_full_work_flow = h.ab_ps_allow_full_work_flow(h.ab_ps_current_user_name(), package.owner_org) %}

{% block package_item %}
  {% if c.process_state and c.process_state == package.process_state or not c.process_state  %}
    <div class="row {{ item_class or "dataset-item" }}">
        {% block mark_action %}
          {%- if c.action_multi == 'Deactivate' and package.process_state == "Approved" and allow_full_work_flow
                  or 
                c.action_multi == 'Reactivate'  and package.process_state != "Approved" and allow_full_work_flow 
                  or
                c.action_multi == 'Delete'  -%}
          <div class="checkbox">
            <label for="{{ package.id }}" 
                   name="pkg-item-action-label" 
                   class="lable-danger-item-actions">
                <input type="checkbox" 
                       id="{{ package.id }}" 
                       name="{{ package.id }}"  />{{ _(mark_notice) }}
            </label> 
          </div>
          {%- endif -%}
        {% endblock %}
      </div>
  {% endif %}

  {{ super() }}
{% endblock %}

{% block heading_meta %}
    {% if package.process_state %}
        <span class="label process_state_{{ package.process_state|lower }}" ><i class="{{ 'label label-info' if package.process_state == 'Approved' else 'icon-lock' }}" ></i>{{ _(package.process_state) }}</span>
    {% endif %}
{% endblock %}
