{% ckan_extends %}

{% block search_input %}
{{ super() }}
    <div class="row">    
        {% if sorting %}
            {% if count != 0 %}
                {% if  c.process_state %}
                    <input type="hidden" name='ext_field-filters' value="on" />
                    <input type="hidden" name='ext_field-filters-select' value="{{ c.process_state }}" />
                {% endif %}
                {% if c.action_multi %}
                    <input type="hidden" name='ext_field-actions' value="on" />
                    <input type="hidden" name='ext_field-actions-select' value="{{ c.action_multi }}" />
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}




